/* center all inside */ 
body {
    margin: 0;
    text-align: center;
    background-color: rgba(135, 206, 235, 0.281);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(70, 69, 69);
} 
hr {
    width: 75%;
    border: 2px dotted #727272;
    border-style: none none dotted; 
    color: #fff; 
    background-color: #fff;
}

/* margin: 0 auto; center block elements */
h1 {
    color : #66bfbf;
    width: 80%;
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
    font-size:562%;
    
}
.my-img {
    border-radius: 10%;
    width: 160px;
    height: 200px;
}
.python {
    position: relative;
    width: 200px;
    right: 50px;
    float: left;
    padding: 15px;
}
.html {
  width: 200px;
  float: right;
  padding: 15px;
}

h2 {
    color : #66bfbf;
    font-family: "Montserrat";
    padding-bottom: 10px;
}

h3 {
    color : #11999e;
}
.top-container {
    position: relative;
    padding-top: 100px;

}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    top: 300px;
}


.middle-container {
    background-color: rgba(255, 255, 255, 0.521);
    

}

.bottom-container {
    background-color: rgba(132, 132, 214, 0.521);
    border-radius: 2px;
    padding: 10px 0 16px; 

}


.skill-row {
    width: 50%;
    margin: 40px auto 100px auto;
    text-align: left;
}


p {
    line-height: 2;
}
.contact-me {
    margin: 0 0 0 0;
    height: auto;
    padding-bottom: 50px;
}


.btn {
    
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #4f8eb5 1px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #74abcf);
    background-image: -moz-linear-gradient(top, #3cb0fd, #74abcf);
    background-image: -ms-linear-gradient(top, #3cb0fd, #74abcf);
    background-image: -o-linear-gradient(top, #3cb0fd, #74abcf);
    background-image: linear-gradient(to bottom, #3cb0fd, #74abcf);
    text-decoration: none;
  }

  a{
      color: rgb(32, 57, 139);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 10px 30px;
      text-decoration: none;
  }

  a:hover{
      color: ivory;
  }